<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="1073741824" />
				<!-- 1GB in bytes -->
			</requestFiltering>
		</security>
		<staticContent>
			<mimeMap fileExtension=".mp4" mimeType="video/mp4" />
			<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
		</staticContent>
	</system.webServer>
</configuration>